* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: rgb(0,0,0.3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13vh;
    box-shadow: 10px 10px 20px rgba(58,57,57);
}
h1 {
    letter-spacing: 1.5vw;
    text-transform: uppercase;
    text-align: center;
    margin:5px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78%;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1490791539531-102a1e0beb7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80) no-repeat ,center ,center;
    background-size: cover;
    background-position: center;
}
.form_class {
    width: 500px;
    padding: 40px;
    border-radius: 8px;
    background-color: white;
    font-family: 'system-ui';
    box-shadow: 0px 20px 20px rgb(58,57,57);
}
.form_div {
    text-transform: uppercase;
}
.form_div > label {
    letter-spacing: 3px;
    font-size: 1rem;
}
.info_div {
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1px;
}
.field_class {
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'system-ui';
    font-size: 0.9rem;
    letter-spacing: 2px;
}
.submit_class {
    border-style: none;
    border-radius: 5px;
    background-color: #FFE6D4;
    padding: 8px 20px;
    font-family: 'system-ui';
    text-transform: uppercase;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 2px rgb(0,0,0,0.2);
    cursor: pointer;
}
footer {
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -10px 20px rgb(58,57,57);
}
footer > p {
    text-align: center;
    font-family: 'system-ui';
    letter-spacing: 3px;
}
footer > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}